html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #312f32;
    display: flex;
    justify-content: center;
    align-items: center;
}
