@use './var';

@mixin circle($diameter, $inner-diameter, $direction, $spin-speed) {
    @keyframes right {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }

    @keyframes left {
        from {transform: rotate(360deg);}
        to {transform: rotate(0deg);}
    }

    height: $diameter;
    width: $diameter;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    animation: $direction $spin-speed infinite linear;

    .quarter {
        height: 100%;
        width: 100%;
    }

    .q1 {
        background-color: var.$yellow;
    }

    .q2 {
        background-color: var.$violet;
    }

    .q3 {
        background-color: var.$cian;
    }

    .q4 {
        background-color: var.$red;
    }

    .inner-cir {
        height: $inner-diameter;
        width: $inner-diameter;
        background-color: var.$bg;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}