@use 'var';
@use 'mix';

.board {
    @include mix.board()
}

@media (max-width: 450px) {
    .board {
        height: 100%;
        width: 100%;
    }
}

.title {
    @include mix.title()
}

.play {

    .c1 {
        @include mix.circle(235px, 200px, left, 3s);;
        z-index: 1;
        left: calc(50% - (235px / 2));
        top: calc(50% - (235px / 2));
        transform: translate(-50%, -50%);

    }

    .c2 {
        @include mix.circle(190px, 160px, right, 3s);
        z-index: 2;
        left: calc(50% - (235px / 2) + 22px);
        top: calc(50% - (235px / 2) + 22px);
        transform: translateX(-50%);
    }

    .c3 {
        @include mix.circle(150px, 125px, left, 3s);
        z-index: 3;
        left: calc(50% - (235px / 2) + 42px);
        top: calc(50% - (235px / 2) + 42px);
        transform: translateX(-50%);
    }

    .circle {
        position: absolute;
        
    }

    .play-btn {
        @include mix.play-btn()
    }
}

.buttons {
    display: flex;
    justify-content: space-between;

    .btn {
        @include mix.btn()
    }
}



// canvas {
//     background-color: red;
//     height: 700px;
//     width: 370px;
// }

// @media (max-width: 450px) {
//     canvas {
//         height: 100%;
//         width: 100%;
//     }
// }